[Unit]
Description=Fogpass Audio Service
After=network.target

[Service]
ExecStart=/usr/bin/audio
Restart=on-failure

[Install]
WantedBy=multi-user.target
