[Unit]
Description=Fogpass Battery Service
After=network.target

[Service]
ExecStart=/usr/bin/battery
Restart=on-failure

[Install]
WantedBy=multi-user.target
