[Unit]
Description=Fogpass Ota Service
After=network.target

[Service]
ExecStart=/usr/bin/ota
Restart=on-failure

[Install]
WantedBy=multi-user.target
